window {
  margin: 1em;
  color: #cdd6f4;
  background-color: #1e1e2e;
  border: 3px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
}

#input {
  margin: 1em;
  padding: 0.5em;
  color: #cdd6f4;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#inner-box {
  margin: 10px;
  font-size: 1.1em;
}

#img {
  margin-right: 1em;
}

#entry:selected {
  color: #1e1e2e;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}
