@define-color module-foreground #AAAAAA;
@define-color module-background transparent;
@define-color waybar-background #1E1E1E;

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: @module-foreground;
  background-color: @waybar-background;
}

window#waybar>box {
  padding: 0;
}

.module {
  padding: 0 10px;
}
