* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: "MesloLGM Nerd Font";
  font-size: 16px;
  font-weight: bold;
  color: #aaaaaa;
}

window#waybar {
  background-color: rgba(30, 30, 30, 0.9);
}

/* window#waybar > box { */
/*   padding: 0; */
/* } */

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}
